.Container {
  display: flex;
  flex-direction: column;
}

.TextBox {
  text-align: center;
  margin-top: 5vh;
}

.Wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Text {
  text-align: right;
  margin-right: 10vw;
}
